.body {  color: black;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.h1 {  color: green;
     text-align: center;
     font-weight: bold;
}
.li {
  color: blue;
  font-size: 20px;
}
#code { color: red;
}

